* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #38bdf8;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.hero button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: #38bdf8;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Sections */
.section {
  padding: 80px 50px;
  text-align: center;
}

.skill-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.skill {
  background: #020617;
  padding: 15px 30px;
  border-radius: 10px;
}

/* Projects */
.project-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 10px;
  width: 200px;
}

/* Footer */
footer {
  background: #020617;
  text-align: center;
  padding: 15px;
}
